*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    color: antiquewhite;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}